*{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    padding-left: 520px;
    padding-bottom: 10px;
}

h1{
    padding-left: 500px;
    padding-bottom: 30px; 
    color: #7070db
}

table {
    
    background-color: #7070db;
    color: seashell;
    
  }
td{
      padding: 10px;
}

.submit-button{
    margin-left: 200px;
}